<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSJSBridge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>387C2CF71B90D21D0019EDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387C2D101B90D21E0019EDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>387C2D1B1B90D21E0019EDD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
